{% extends 'dashboard/layout/dashboard-base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Mes Paramètres</h1>

    <form class="form" action="/dashboard/profile/edit" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="id" value="{{ user.id }}">

        <div class="form-group">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}">
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" name="email" class="form-control" value="{{ user.email }}">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>

        <div class="form-group">
            <label class="form-label">Image de profile</label>
            <div class="form-file-wrapper">
                <input type="file" id="image-upload" name="profile_image" class="form-file-input" accept="image/*">
                <label for="image-upload" class="form-file-label">
                    <div class="form-file-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2">
                            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7"></path>
                            <line x1="16" y1="5" x2="22" y2="5"></line>
                            <line x1="19" y1="2" x2="19" y2="8"></line>
                            <circle cx="9" cy="9" r="2"></circle>
                            <path d="M21 15l-3.086-3.086a2 2 0 0 0-2.828 0L6 21"></path>
                        </svg>
                    </div>
                    <span>Glissez-déposez votre image ici ou cliquez pour sélectionner</span>
                    <span class="form-file-button">Choisir un fichier</span>
                    <span class="form-file-filename has-file" id="file-name">{{ user.getProfileImageUrl() }}</span>
                    <img src="/assets/uploads/profiles/{{ user.getProfileImageUrl() }}" alt="Aperçu de l'image" class="form-file-preview has-image" id="image-preview">
                </label>
            </div>
        </div>

        <button type="submit" class="form-submit">Modifier</button>
    </form>
    <script type="text/javascript" src="/assets/js/imageUpload.js"></script>
{% endblock %}