{% extends 'pages/layout/static-base.html.twig' %}

{% block title %}Nos Velos{% endblock %}

{% block content %}
    <main class="content">
        <div class="banner">
            <img src="./assets/images/page-content/velos_banner.jpg" alt="Catalogue de vélos" class="banner-image">
            <div class="banner-title">Notre Catalogue de Vélos</div>
        </div>

        <div class="catalogue">
            <div class="catalogue-head">
                <p class="catalogue-head-text">Affichage de 1-{{ products|length }} sur {{ products|length }} résultats</p>
                <div class="catalogue-head-tools">
                    <div class="catalogue-head-tool">
                        <p class="catalogue-filter-button">Filtrer</p>
                        <i class="fa-solid fa-filter"></i>
                    </div>
                    <div class="catalogue-head-tool">
                        <p class="catalogue-sort-button">Trier</p>
                        <i class="fa-solid fa-sliders"></i>
                    </div>
                </div>
            </div>

            <div class="catalogue-items-container">
                {% for product in products %}
                    <div class="card">
                        <div class="card-header">
                            <img src="/assets/uploads/products/{{ product.image }}" alt="{{ product.name }}">
                        </div>
                        <div class="card-content">
                            <h3 class="card-model-title">{{ product.name }}</h3>
                            <p class="card-price">à partir de {{ product.price|number_format(2, ',', ' ') }}€</p>
                            <p class="card-description">{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
